@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.u-text-center {
  text-align: center;
}

*,
*:before,
*:after {
  content: "";
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7rem;
}

.heading--primary {
  font-style: normal;
  font-weight: bold;
  font-size: 8.5rem;
  line-height: 9.5rem;
  color: #272d4e;
}

.heading--secondary {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 7rem;
  text-align: center;
  color: #272d4e;
}

.heading--title {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 7rem;
  color: #272d4e;
}

.link {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #299ef3;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.description {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #94a2b3;
}

.hero-section {
  position: relative;
  background: linear-gradient(180deg, #e5efff 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  padding-bottom: 35rem;
}

.marketplace-section {
  max-width: 192rem;
  margin: 0 auto;
  position: relative;
  top: -13rem;
}

.btn {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.6);
  transform: translateY(-4px);
}
.btn--primary {
  padding: 2.6rem 6.2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  background: #5f37ef;
  border-radius: 60px;
}

.hero-background-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/background-1.png");
  background-repeat: no-repeat;
  background-position-x: 95rem;
  z-index: 0;
}

.hero {
  display: flex;
  max-width: 192rem;
  margin: 18.6rem auto 0;
  background-image: url("../img/background-1.png");
  background-repeat: no-repeat;
  background-position-x: 95rem;
}
.hero__about {
  flex: 1;
  margin-left: 22rem;
}
.hero__about__text div:first-child {
  max-width: 75rem;
}
.hero__about__text div:last-child {
  max-width: 70rem;
  margin-top: 2.9rem;
}
.hero__about__action {
  margin-top: 5.1rem;
}
.hero__about__action span:nth-child(2) {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #94a2b3;
  margin: 0 0.5rem;
}
.hero__about__action span:nth-child(3) {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #299ef3;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hero__about__action span:nth-child(3):hover {
  text-decoration: underline;
}
.hero__product {
  flex: 1;
  display: flex;
  background: #ffffff;
  border: 1px solid #e5efff;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  right: -10rem;
  z-index: 5;
}
.hero__product__img {
  position: relative;
  background: #fff;
  z-index: 2;
}
.hero__product__img img {
  position: absolute;
}
.hero__product__img img:first-child {
  right: -16rem;
  top: -13rem;
  z-index: 1;
}
.hero__product__img img:nth-child(2) {
  left: -8rem;
  top: 5rem;
  z-index: 1;
}
.hero__product__img img:nth-child(3) {
  left: 56rem;
  top: 13rem;
  z-index: 1;
}
.hero__product__img img:nth-child(4) {
  left: 4rem;
  top: 0rem;
  border-radius: 20px;
  z-index: 2;
}
.hero__product__img img:nth-child(5) {
  left: -3rem;
  top: -8rem;
  border-radius: 20px;
  z-index: 3;
}
.hero__product__img img:last-child {
  left: 9rem;
  top: 28rem;
  z-index: 5;
}
.hero__product__content {
  flex: 1;
  padding-left: 5rem;
  background: #fff;
}
.hero__product__title {
  margin-top: 40px;
}
.hero__product__title--left {
  margin-right: 0.8rem;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #272d4e;
}
.hero__product__title--right {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #94a2b3;
}
.hero__product__name {
  margin-top: 2.3rem;
  font-size: 3rem;
  line-height: 38px;
  color: #222222;
}
.hero__product__size {
  display: flex;
  list-style: none;
  margin-top: 4rem;
}
.hero__product__size li {
  transition: all 0.3s ease-in-out;
  padding: 0.8rem 1rem;
  background: #f6f6f6;
  font-size: 0.9rem;
  line-height: 1.1rem;
  text-align: center;
  color: #868686;
  border-radius: 0.5rem;
  cursor: pointer;
}
.hero__product__size li:hover {
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.6);
  transform: translateY(-4px);
}
.hero__product__size li:not(:last-child) {
  margin-left: 1rem;
}
.hero__product__price-wrapper {
  display: flex;
  margin-top: 2.5rem;
}
.hero__product__price--new {
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 2.8rem;
  color: #7854f7;
}
.hero__product__price--old {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-decoration-line: line-through;
  text-align: right;
  color: #868686;
}
.hero__product__amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.7rem;
  background: #f6f6f6;
  border-radius: 0.5rem;
}
.hero__product__amount div {
  padding: 1.3rem;
}
.hero__product__amount div:first-child, .hero__product__amount div:last-child {
  display: block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hero__product__amount div:first-child:hover, .hero__product__amount div:last-child:hover {
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.6);
  transform: translateY(-4px);
}
.hero__product__action {
  margin-top: 4rem;
  padding: 1.6rem 6.6rem;
  background: #7854f7;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: "row";
  justify-content: center;
  align-items: center;
}
.hero__product .img {
  position: absolute;
  z-index: 10;
}
.hero__product .img--1 {
  top: -14rem;
  right: 29rem;
  z-index: -1;
}
.hero__product .img--2 {
  top: 0rem;
  left: -13rem;
  z-index: -1;
}
.hero__product .img--3 {
  bottom: -25.7rem;
  right: 13.2rem;
  z-index: -1;
}
.hero__product .img--4 {
  top: -7.4rem;
  left: -8rem;
  border-radius: 2rem;
}
.hero__product .img--5 {
  bottom: -21.7rem;
  right: 27.2rem;
}
.hero__product .img--6 {
  bottom: -4rem;
  right: 21rem;
}
.hero__product .img--7 {
  bottom: 3rem;
  left: -3rem;
}
.hero__product .img--8 {
  top: -2rem;
  right: 42rem;
}

.marketplace div:first-child {
  width: 45.7rem;
  margin: 0 auto;
}
.marketplace__card-wrapper {
  display: flex;
}
.marketplace__card__img {
  border-radius: 20px;
}
.marketplace__card__content {
  margin-left: 5rem;
  width: 43rem;
}
.marketplace__card__content div:last-child {
  margin-top: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
  max-width: 181rem;
  margin: 0 auto;
  padding: 3.7rem 5.5rem;
}
.header .logo {
  width: 16.9rem;
  z-index: 5;
  cursor: pointer;
}
.header .nav-section {
  margin-left: 14.4rem;
  z-index: 5;
}
.header .nav-section .nav {
  display: flex;
  margin: 0 -1.9rem;
}
.header .nav-section .nav__item {
  margin: 0 1.9rem;
  list-style: none;
}
.header .nav-section .nav__item--link {
  color: #272d4e;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.header .nav-section .nav__item--link:hover {
  color: #7854f7;
}
.header .auth {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}
.header .auth .login {
  margin-right: 5.2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header .auth .login:hover {
  color: #7854f7;
}
.header .auth .get-started {
  margin-right: 3rem;
  padding: 1.3rem 1.4rem;
  background: #7854f7;
  border-radius: 5px;
  display: flex;
  flex-direction: "row";
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header .auth .get-started:hover {
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.6);
  transform: translateY(-4px);
}
.header .auth .search {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
