.hero-section {
  position: relative;
  background: linear-gradient(
    180deg,
    #e5efff 0%,
    rgba(229, 239, 255, 0.262661) 83.7%,
    rgba(229, 239, 255, 0) 100%
  );
  padding-bottom: 35rem;
}

.marketplace-section {
  max-width: 192rem;
  margin: 0 auto;
  position: relative;
  top: -13rem;
}
