@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flex-center($direaction: "row") {
  display: flex;
  flex-direction: $direaction;
  justify-content: center;
  align-items: center;
}
