.btn {
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  &--primary {
    padding: 2.6rem 6.2rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    background: $color-secondary;
    border-radius: 60px;
  }
  &--secondary {
    padding: 2.2rem 2.6rem;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    background: #70c217;
    border-radius: 60px;
  }
  &:hover {
    @include shadow-effect;
  }
}
