.intro-section {
  max-width: 120rem;
  margin: 10rem auto 0;
}

.features-section {
  max-width: 110rem;
  margin: 10rem auto 10rem;
}

.plan-section {
  background-color: #f6f6f6;
  padding: 80px 0;
}
